boto3==1.1.4
botocore==1.2.11
coverage==4.0.1
Django==1.8.4
djangorestframework==3.2.4
docutils==0.12
flake8==2.4.1
futures==2.2.0
jmespath==0.9.0
mccabe==0.3.1
pep8==1.5.7
py==1.10.0
pyflakes==0.8.1
pytest==2.7.2
pytest-cov==2.2.0
pytest-django==2.8.0
python-dateutil==2.4.2
six==1.10.0
storage-provisioner==0.1.2
wheel==0.26.0
